html {
  background-image: url("https://img.freepik.com/premium-photo/silver-glitter-background_280388-3251.jpg?w=996");
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/*<------NAV------>*/
nav {
  font-size: 45px;
  text-transform: uppercase;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  background-image: url("https://img.freepik.com/premium-photo/black-glittery-background_53876-149936.jpg");
  z-index: 1000;
  font-weight: bold;
  height: 100px;
  color: gray;
}

button {
  width: 200px;
  height: 60px;
  font-size: 30px;
  border-radius: 20px;
  background-image: url("https://img.freepik.com/premium-photo/silver-glitter-background_280388-3251.jpg?w=996");
background-size:cover;
}

#inicio{
   width: 250px;
  height: 60px;
  margin-left:-30px;
}

nav button:hover {
  color: #ff556e;
}

nav button.activo {
  color: red;
}

/*<------MAIN------>*/
h1 {
  text-align: center;
  color: gray;
  text-shadow: 2px 1px 2px black;
  margin-top: 50px;
  margin-bottom:130px;
  font-size: 60px;
}

/*<------DISCOS------>*/
#discografia {
  padding: 20px;
}
#discos {
  background-color: transparent;
  font-weight: bold;
}

#discos div {
  padding-bottom: 40px;
  padding-left: 45px;
  background-color: transparent;
}

#discos img {
  padding-left: 70px;
  padding-right: 30px;
  align-items: center;
}

/*<------FLEX CONTAINER----->*/
.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container > div {
  width: 50%;
  padding: 10px;
  background: #fff;
}

.flexbox-container > div:first-child {
  margin-right: 20px;
}

/*<------VIDEOS------>*/
video {
  margin-top: 35%;
  border: 4px solid red;
}

#videos {
  margin-bottom: 25%;
  background-color: transparent;
}

.video-container {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

/*<---FOOTER-->*/
footer {
  margin-top: 20px;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: #d4d4d4;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background-image: url("https://img.freepik.com/premium-photo/black-glittery-background_53876-149936.jpg");
}

footer a {
  color: #d4d4d4;
  text-decoration: none;
}

#Copyright {
  margin-top: 10px;
  margin-left: 15px;
}

#redes {
  margin-top: 10px;
}

#redes i {
  margin: 20px;
  padding: 15px;
  color: #d4d4d4;
  text-align: center;
}

#redes i:hover {
  color: #ff556e;
}

